/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #dad3e6; /* Light blue background */
    color: #333;
    margin: 20px;
}

.content {
    max-width: 10px auto;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}